---
layout: base
---


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {%- if posts.size > 0 -%}

  <div class="filter-container">
    <span class="filter-button" data-category="all">All</span>
    <span class="filter-button" data-category="works">Works</span>
    <span class="filter-button" data-category="experiments">Experiments</span>
    <span class="filter-button" data-category="other">Other</span>
  </div>
    
    
      <div class="grid-container">
        {% for post in site.posts %}
          {% if post.thumbnail %}
          <div class="grid-item" data-categories="{{ post.categories | join: ' ' }}">
            <a href="{{ post.url }}">
                <img src="{{ post.thumbnail }}" alt="{{ post.title }}">
              </a>
            </div>
          {% endif %}
        {% endfor %}
      </div>
     
   

  {%- endif -%}

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.filter-button');
    const items = document.querySelectorAll('.grid-item');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const category = button.getAttribute('data-category');

        items.forEach(item => {
          const itemCategories = item.getAttribute('data-categories').split(' ');
          if (category === 'all' || itemCategories.includes(category)) {
            item.style.display = 'block';
          } else {
            item.style.display = 'none';
          }
        });
      });
    });
  });
</script>
